<%- include('../../partials/header') %>
<body>
    <%- include('../../partials/navbar') %>
    
    <div class="container">
        <hr>
        <h2>Artigos</h2>
        <a href="/admin/articles/new" class="btn btn-success">Novo Artigo</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach(article => { %>
                    <tr>
                        <td><%= article.id %></td>
                        <td><%= article.title %></td>
                        <td><%= article.slug %></td>
                        <td><%= article.category.title %></td>
                        <td>
                            <form method="post" action="/admin/articles/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                                <input type="hidden" name="id" value="<%= article.id %>">
                                <button class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</body>
<%- include('../../partials/footer') %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Tem certeza que quer deletar este Artigo?");

        if(decision){
            form.submit();
        };
    };
</script>